* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(216, 216, 216);
  font-family: sans-serif;
}

body > header {
  margin: 30px 30px 45px 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(122, 122, 122);
  color: white;
  position: sticky;
}

  main{
    padding: 30px;
  }

nav {
  margin-top: 10px;
}

header nav a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 1px solid white;
}

section {
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
  line-height: 1.8;
}

section h1,
h2 {
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

ul a {
  font-size: 0.9em;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

ul a:hover {
  color: white;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(3, 0, 32);
}

footer{
  padding: 4px;
  background-color: rgb(10, 10, 10);
  color: white;
  text-align: center;
}

#home{
  margin-bottom: 10px;
}


.cards-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-desafios-card {
border-radius:  10px 10px 0px 0px;
background-color: rgb(255, 195, 85);
color: white;
}

.desafios-card {
  padding: 0;
  max-width: 350px;
  background-color: rgba(15, 1, 37, 0.884);
  color: white;
}

.desafios-card h3{
  padding: 10px;
}

.desafios-card ul{
  line-height: 1.3;
  padding: 10px 15px;
}

.desafios-card ul li{
  margin-bottom: 10px;
}

#lista-de-desafios {
  gap: 0;
  flex-direction: column;
  list-style: "-";
}

.mostrar-mais {
  display: none;
}

.btn-default {
  display: flex;
  align-self: center;
  margin: 20px auto;
  padding: 2px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  background-color: rgb(251, 253, 188);
}
