* {
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
  background-color: rgb(216, 216, 216);
  font-family: sans-serif;
}

body > header {
  margin-bottom: 45px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(122, 122, 122);
  color: white;
}

nav {
  margin-top: 10px;
}

header nav a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 1px solid white;
}

section {
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
  line-height: 1.8;
}

section h1,
h2 {
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}

.desafios-card {
  max-width: 350px;
  background-color: rgb(46, 46, 46);
}

.header-desafios-card {
  border-bottom: 2px solid white;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

ul a {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

ul a:hover {
  color: white;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(3, 0, 32);
}

#lista-de-desafios {
  gap: 0;
  flex-direction: column;
  list-style: "-";
}

.mostrar-mais {
  display: none;
}

.btn-default {
  max-width: 220px;
  border-radius: 5px;
  font-size: 1.5em;
}
